<div id="photos-content-wrapper" class="container-fluid">
	<div id="photos-toppadding" class="row row-toppadding"></div>
	<section id="photos-section-1" class="row">
		<div id="photos-section-1-wrapper" class="container section-wrapper">
			<div id="photos-section-1-row1" class="row">
				<div class="col-sm-8">
					<p>This page is currently work in progress.</p>
					<p>All photos on this website were taken by me. Nothing stock-free here!</p>
					<p>If you'd like a preview of my photos, head over to my <strong>500px</strong> profile located at <a href="http://photos.zhaostephen.com/">http://photos.zhaostephen.com/</a></p>
				</div>
			</div>
		</div>
	</section>
</div>