<div id="wip-content-wrapper" class="container-fluid">
	<div id="wip-toppadding" class="row row-toppadding"></div>
	<section id="wip-section-1" class="row">
		<div id="wip-section-1-wrapper" class="container section-wrapper">
			<div class="row">
				<div class="col-sm-4 wip-text">
					<p>This page is work in progress. Expect content here in about a week.</p>
					<p>Meanwhile, here's a potato.</p>
				</div>
				<div class="col-sm-4">
					<img id="potato" src="/img/potato.jpg"></img>
				</div>
				<div class="col-sm-4">
					<p>You can find me on the following sites:</p>
					<p>Projects - <a href="http://git.zhaostephen.com/">GitHub</a></p>
					<p>Professional Experience - <a href="http://linkedin.zhaostephen.com/">LinkedIn</a></p>
					<p>Photography - <a href="http://photos.zhaostephen.com/">500px</a></p>
				</div>
			</div>
		</div>
	</section>
</div>