<div id="contact-content-wrapper" class="container-fluid">
	<div id="contact-toppadding" class="row row-toppadding"></div>
	<section id="contact-section-1" class="row">
		<div id="contact-section-1-wrapper" class="container section-wrapper">
			<div id="contact-section-1-row1" class="row">
				<div class="col-sm-8">
					<p>This page is currently work in progress.</p>
					<p>If you'd like to contact me, please shoot an <strong>email</strong> to <a>mail@zhaostephen.com</a></p>
				</div>
			</div>
		</div>
	</section>
</div>