<div id="projects-content-wrapper" class="container-fluid">
	<div id="projects-toppadding" class="row row-toppadding"></div>
	<section id="projects-section-1" class="row">
		<div id="projects-section-1-wrapper" class="container section-wrapper">
			<div id="projects-section-1-row1" class="row">
				<div class="col-sm-8">
					<p>This page is currently work in progress.</p>
					<p>If you'd like a preview of my projects, head over to my public <strong>GitHub</strong> profile at <a href="http://git.zhaostephen.com/">http://git.zhaostephen.com/</a></p>
					<p>There you will find a couple of my current and past coding projects, including the code for this website listed under the <strong>zhaostephen</strong> repository.</p>
				</div>
			</div>
		</div>
	</section>
</div>