<div id="profile-content-wrapper" class="container-fluid">
	<section id="profile-section-1" class="row">
		<div id="profile-section-1-bg" class="section-bg"></div>
		<div id="profile-section-1-wrapper" class="container section-wrapper">
			<div class="row">
				<div class="col-sm-3">
					<img id="profile-dp-img" src="/img/profile-dp.jpg" class="img-thumbnail img-circle c-align"></img>
				</div>
				<div class="col-sm-9">
					<span id="profile-section-1-reg">Hi, I'm</span><br/>
					<span id="profile-section-1-name">Stephen Zhao</span>
				</div>
			</div>
		</div>
	</section>
	<section id="profile-section-2" class="row">
		<div id="profile-section-2-bg" class="section-bg"></div>
		<div id="profile-section-2-wrapper" class="container section-wrapper">
			<div class="row">
				<div class="col-sm-12">
					<p>I'm currently a first-year undergraduate student at the University of Waterloo, working on my Honours Bachelor of Computer Science. Being a freshman means that I have only just begun perhaps the most important segment of my educational carreer. It also means that I possess a fairly minimal theoretical knowledge-base in the field I am heading into. However, it certainly does not mean that I lack professional experience, nor does it mean that I lack the necessary soft or hard skills to do well in my field.</p>
					<p>Scroll down to learn more about me.</p>
				</div>
			</div>
		</div>
	</section>
	<section id="profile-section-3" class="row">
		<div id="profile-section-3-bg" class="section-bg"></div>
		<div id="profile-section-3-wrapper" class="container section-wrapper">
			<div class="row">
				<div class="col-sm-12">
					<h1>3 ways to reach!</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<p class="text-center"><strong>Option 1:</strong> For a <em>really</em> quick overview, you may download my 2-page résume below.</p>
					<p><a id="profile-section-3-LI-btn" class="btn btn-primary btn-lg c-align" href="/downloads/Resume"><span class="glyphicon glyphicon-download"></span> Résume.pdf</a></p>
				</div>
				<div class="col-sm-4">
					<p class="text-center"><strong>Option 2:</strong> For a more comprehensive look, you may head over to my LinkedIn profile.</p>
					<p><a id="profile-section-3-Re-btn" class="btn btn-primary btn-lg c-align" href="http://linkedin.zhaostephen.com/">LinkedIn <span class="glyphicon glyphicon-share"></span></a></p>
				</div>
				<div class="col-sm-4">
					<p class="text-center"><strong>Option 3 (And this is the best option):</strong> Once this rest of website goes live, keep scrolling down to discover more.</p>
				</div>
			</div>
		</div>
	</section>
	<section id="profile-section-4" class="row">
		<div id="profile-section-4-bg" class="section-bg"></div>
		<div id="profile-section-4-wrapper" class="container section-wrapper">
			<div class="row">
				<div class="col-sm-12">
					<p><em><strong>Moar stuff will follow. Rawr.</strong> You may now <kbd>ctrl+w</kbd> (That closes the tab; in case you didn't know, you just learned something new today).<em></p>
					<p>.</p>
					<p>.</p>
					<p>.</p>
					<p>.</p>
				</div>
			</div>
		</div>
	</section>
	<section id="profile-section-5" class="row">
		<div id="profile-section-5-bg" class="section-bg"></div>
		<div id="profile-section-5-wrapper" class="container section-wrapper">
			<div class="row">
				<div class="col-sm-12">
					<p><em><strong>Moar stuff will follow. Rawr.</strong> You may now <kbd>ctrl+w</kbd> (That closes the tab; in case you didn't know, you just learned something new today).<em></p>
					<p>.</p>
					<p>.</p>
					<p>.</p>
					<p>.</p>
				</div>
			</div>
		</div>
	</section>
	<section id="profile-section-6" class="row">
		<div id="profile-section-6-bg" class="section-bg"></div>
		<div id="profile-section-6-wrapper" class="container section-wrapper">
			<div class="row">
				<div class="col-sm-12">
					<p>.</p>
					<p>.</p>
					<p>.</p>
					<p>.</p>
					<p>.</p>
				</div>
			</div>
		</div>
	</section>
</div>