<!--
<div id="header" class="header">
	<div id="header-title">Stephen Zhao</div>
	<div id="header-btns">
		<app-header-btn ng-repeat="btn in ctrl.headerBtns" data="btn"></app-header-btn>
	</div>
</div>-->
<div id="global-view" class="pages">
	<app-nav data="ctrl.exports"><!-- angular: appNav.html loaded here --></app-nav>
	<app-content data="ctrl.exports"><!-- angular: appContent.html loaded here --></app-content>
	<app-footer data="ctrl.exports"><!-- angular: appFooter.html loaded here --></app-footer>
</div>