<!--
<div id="header" class="header">
	<div id="header-title">Stephen Zhao</div>
	<div id="header-btns">
		<app-header-btn ng-repeat="btn in ctrl.headerBtns" data="btn"></app-header-btn>
	</div>
</div>-->
<div class="container pages">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-div-collapsable">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a id="nav-header-home-a" class="navbar-brand" href="/#/">
					<img id="nav-header-home-img" src="/img/SZ-logo-512_576-ta.png"></img>
				</a>
			</div>
			<div id="nav-div-collapsable" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li id="nav-btn-profile"><a href="/#/pages/profile">Profile</a></li>
					<li id="nav-btn-projects"><a href="/#/pages/projects">Projects</a></li>
					<li id="nav-btn-photos"><a href="/#/pages/photos">Photography</a></li>
					<li id="nav-btn-contact"><a href="/#/pages/contact">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="content">
		<div class="wip-text v-align">
			This page is work in progress. Expect content here in about a week.<br/>Meanwhile, here's a potato.<br/>
			<img class="potato" src="/img/potato.jpg"></img><br/>
			You can find me on the following sites:<br/>
			Projects - <a href="http://git.zhaostephen.com/">GitHub</a><br/>
			Professional Experience - <a href="http://linkedin.zhaostephen.com/">LinkedIn</a><br/>
			Photography - <a href="http://photos.zhaostephen.com/">500px</a>
		</div>
	</div>
	<div id="footer" class="footer">
		<div id="copyright"></div>
	</div>
</div>