<div class="pages bg-color"></div>
<div class="pages bg-img"></div>
<div class="pages content">
	<div class="pages wip-text v-align">
		This page is work in progress. Expect content here in about a week.<br/>Meanwhile, here's a potato.<br/>
		<img class="pages potato" src="/img/potato.jpg"></img><br/>
		You can find me on the following sites:<br/>
		Projects - <a href="//git.zhaostephen.com">GitHub</a><br/>
		Professional Experience - <a href="//linkedin.zhaostephen.com">LinkedIn</a><br/>
		Photography - <a href="//photos.zhaostephen.com">500px</a>
	</div>
</div>