<div class="home bg-color"></div>
<div class="home bg-img"></div>
<div class="home content">
	<!--Mouseable Regions for Hover events-->
    <!-- NOT USED
	<div id="topMouseable" class="home mouseableReg"></div>
	<div id="leftMouseable" class="home mouseableReg"></div>
	<div id="rightMouseable" class="home mouseableReg"></div>
	<div id="bottomMouseable" class="home mouseableReg"></div>
    -->
    
	<!--Transition Panels-->
	<div id="transitionPanel-top" class="transitionPanel vertical">
    	<div id="transitionPanel-projects-bg" class="transitionPanel-bg"></div>
    	<div id="transitionPanel-projects-h" class="transitionPanel-heading vc-align">Projects</div>
    </div>
	<div id="transitionPanel-left" class="transitionPanel horizontal">
    	<div id="transitionPanel-profile-bg" class="transitionPanel-bg"></div>
    	<div id="transitionPanel-profile-h" class="transitionPanel-heading vc-align">Profile</div>
    </div>
	<div id="transitionPanel-right" class="transitionPanel horizontal">
    	<div id="transitionPanel-contact-bg" class="transitionPanel-bg"></div>
    	<div id="transitionPanel-contact-h" class="transitionPanel-heading vc-align">Contact</div>
    </div>
	<div id="transitionPanel-bottom" class="transitionPanel vertical">
    	<div id="transitionPanel-photos-bg" class="transitionPanel-bg"></div>
    	<div id="transitionPanel-photos-h" class="transitionPanel-heading vc-align">Photography</div>
    </div>
    
    <!--Name Banner Container-->
    <div id="bannerNameContainer" class="home vc-align">
        <div id="circle-1" class="home menucircle vc-align">
            <a id="circle-1-a" href="/#/pages/projects" class="home menucircle-a vc-align">
            </a>
        </div>
        <div id="circle-2" class="home menucircle vc-align">
            <a id="circle-2-a" href="/#/pages/profile" class="home menucircle-a vc-align">
            </a>
        </div>
        <div id="circle-3" class="home menucircle vc-align">
            <a id="circle-3-a" href="/#/pages/contact" class="home menucircle-a vc-align">
            </a>
        </div>
        <div id="circle-4" class="home menucircle vc-align">
            <a id="circle-4-a" href="/#/pages/photos" class="home menucircle-a vc-align">
            </a>
        </div>
        <div id="bannerName" class="home v-align">
            <span id="firstName" class="home">Stephen</span><br/>
            <span id="lastName" class="home">Zhao</span>
        </div>
        <div id="bannerLogo" class="home vc-align">
            <img id="bannerLogoImg" class="home" src="/img/SZ-logo-512_576-ta.png"></img>
        </div>
    </div>
</div>