<div class="container-fluid">
	<div class="navbar-header">
		<a id="nav-header-home-a-sm" class="navbar-brand" href="/#/">
			<img id="nav-header-home-img-sm" src="/img/SZ-logo-512_576-ta.png"></img>
		</a>
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-div-collapsable">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>
	<div id="nav-div-links-sm" class="collapse navbar-collapse nav-div-collapsable">
		<ul id="navbar-ul-links" class="nav navbar-nav">
			<li id="nav-btn-profile"><a href="/#/pages/profile">Profile</a></li>
			<li id="nav-btn-projects"><a href="/#/pages/projects">Projects</a></li>
			<li id="nav-btn-photos"><a href="/#/pages/photos">Photography</a></li>
			<li id="nav-btn-contact"><a href="/#/pages/contact">Contact</a></li>
		</ul>
	</div>
</div>