<div class="container-fluid">
	<div class="row">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-div-collapsable">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div id="nav-col-l" class="col-md-5">
			<div id="nav-div-links-l" class="collapse navbar-collapse nav-div-collapsable">
				<ul id="navbar-ul-links-l" class="nav navbar-nav">
					<li id="nav-btn-profile"><a href="/#/pages/profile">Profile</a></li>
					<li id="nav-btn-projects"><a href="/#/pages/projects">Projects</a></li>
				</ul>
			</div>
		</div>
		<div id="nav-col-c" class="col-md-2">
			<div class="navbar-header c-align-desk">
				<div id="nav-header-circle">
					<a id="nav-header-home-a" class="vc-align" href="/#/">
						<img id="nav-header-home-img" src="/img/SZ-logo-512_576-ta.png"></img>
					</a>
				</div>
			</div>
		</div>
		<div id="nav-col-r" class="col-md-5">
			<div id="nav-div-links-r" class="collapse navbar-collapse nav-div-collapsable">
				<ul id="navbar-ul-links-r" class="nav navbar-nav">
					<li id="nav-btn-photos"><a href="/#/pages/photos">Photography</a></li>
					<li id="nav-btn-contact"><a href="/#/pages/contact">Contact</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>