@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Martel+Sans:200,300,400,600,700,800,900);

/*
=========================================
Document Setup
=========================================
*/
html{
	font-size:62.5%;
}
/*
=========================================
Formatting
=========================================
*/
.v-align{
	position:relative;
	display: block;
	top:50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.c-align{
	position:relative;
	display: block;
	left:50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.vc-align{
	position:relative;
	display: block;
	top:50%;
	left:50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
/*
=========================================
Background
=========================================
*/
#bg-color{
	position: fixed;
	left: 0;
	top: 0;
	z-index: -1;
	
	display: block;
	width: 100%;
	height: 100%;
	
	background-color:#1B1B1B;
}

#bg-img{
	position: fixed;
	left: 0;
	top: 0;
	z-index: -1;
	
	display: block;
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	
	background-image: url(../img/index-bg01.jpg);
	-webkit-filter: blur(10px) brightness(1);
	-moz-filter: blur(10px) brightness(1);
    -o-filter: blur(10px) brightness(1);
    -ms-filter: blur(10px) brightness(1);
    filter: blur(10px) brightness(1);
	
//	-webkit-transition-duration: 0.3s;
//	transition-duration: 0.3s;
//	-webkit-transition-property: top, left, right, bottom, height, width;
//	transition-property: top, left, right, bottom, height, width;
//	-webkit-transition-timing-function:ease-out;
//	transition-timing-function:ease-out;
}

/*
=========================================
Main Container
=========================================
*/
.content{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	
	display: block;
	width: 100%;
	height: 100%;
	
	text-align:center;
}
