/*
===============================================================================
======================            TOP NAV BAR            ======================
===============================================================================
*/

#navbar-ul-links-l {
	float:right;
}

#navbar-ul-links-r {
}

#nav-col-c{
	height:50px;
}

#nav-header-circle {
	position:relative;
	top:-40px;

	display: block;
	width:180px;
	height:180px;

	background-color:#222;
	border-radius:50%;
}

#nav-header-home-a {
	padding:0;
	margin:0;
	display:inline-block;
	border-radius:50%;
}

#nav-header-home-a-sm {
	padding:0;
}

#nav-header-home-img {
	display: block;
	width:160px;

	border-radius:50%;
}

#nav-header-home-img:hover {
	background-color:#EEE;
	box-shadow: 0 0 10px 5px rgba(255, 255, 255, 1);
}

#nav-header-home-img-sm {
	display: block;
	height:100%;

	border-radius:50%;
}

#nav-header-home-img-sm:hover {
	background-color:#EEE;
	box-shadow: 0 0 8px 4px rgba(255, 255, 255, 1);
}

/*
===============================================================================
======================            BACKGROUND             ======================
===============================================================================
*/
.pages .bg-color{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 11;
	
	display: block;
	width: 100%;
	height: 100%;
	
	background-color:#000;
}

.pages .bg-img{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 12;
	
	display: block;
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	
	background-image: url(../img/bg01.jpg);
	-webkit-filter: blur(10px) brightness(1);
	-moz-filter: blur(10px) brightness(1);
    -o-filter: blur(10px) brightness(1);
    -ms-filter: blur(10px) brightness(1);
    filter: blur(10px) brightness(1);
}

/*
===============================================================================
=====================            PAGE:  PROFILE           =====================
===============================================================================
*/

.section-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.section-wrapper {
	padding: 60px 30px;
}


/* SECTION 1 */
#profile-section-1 {

}

#profile-section-1-bg {
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../img/bg02.jpg);
}

@media (min-width: 550px) {
	#profile-section-1-wrapper {
		padding-top:400px;
	}
}

@media (max-width: 550px) {
	#profile-section-1-wrapper {
		padding-top:300px;
	}
}

#profile-dp-img {
	width: 250px;
}

@media (min-width: 550px) {
	#profile-section-1-reg {
		font-size:60px;
		color:#fff;
	}

	#profile-section-1-name {
		font-size:128px;
		line-height: 100px;
		color:#fff;
	}
}

@media (max-width: 550px) {
	#profile-section-1-reg {
		font-size:40px;
		color:#fff;
	}

	#profile-section-1-name {
		font-size: 80px;
		line-height: 60px;
		color:#fff;
	}
}

/* SECTION 2 */
#profile-section-2 {

}

/* SECTION 3 */
#profile-section-3 {
	color:#fff;
}

#profile-section-3-bg {
	background-color:#333;
}

#profile-section-3-LI-btn, #profile-section-3-Re-btn{
	width:200px;
}

/* SECTION 4 */
#profile-section-4-bg {
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../img/bg04.jpg);
	-webkit-filter: blur(8px) brightness(1);
	-moz-filter: blur(8px) brightness(1);
    -o-filter: blur(8px) brightness(1);
    -ms-filter: blur(8px) brightness(1);
    filter: blur(8px) brightness(1);
}

.row img {
	width: 100%;
}

/*
===============================================================================
=======================            PAGE: WIP            =======================
===============================================================================
*/
.pages .wip-text{
	position: relative;
}
