@charset "utf-8";
/* CSS Document */

/********************************************************
/
/  TRANSITION PANELS (4 of them, one in each direction)
/
/*******************************************************/
.transitionPanel{
	display:block;
	z-index: 500;
	position:absolute;
	text-align: center;

	background-color:#000000;
}

.transitionPanel.vertical{
	height:0%;
	width:100%;
}

.transitionPanel.horizontal{
	height:100%;
	width:0%;

}

.transitionPanel-heading{
	font-size: 3.6rem;
	font-family: 'Martel Sans', Arial, sans-serif;
	text-align: center;
	line-height:3rem;
	color: #EEE;
	text-transform: uppercase;
}

.transitionPanel-bg{
	position:absolute;
	width: 100%;
	height: 100%;
	background-position:center;
	background-repeat:no-repeat;
}


#transitionPanel-top{
	top:0;
}

#transitionPanel-bottom{
	bottom:0;
}

#transitionPanel-left{
	left:0;
}

#transitionPanel-right{
	right:0;
}

#transitionPanel-home-bg{
	background-color: #EEEEEE;
}

#transitionPanel-profile-bg{
	background-color: #4FC3F7;
}

#transitionPanel-photos-bg{
	background-color: #E57373;
}

#transitionPanel-projects-bg{
	background-color: #81C784;
}

#transitionPanel-contact-bg{
	background-color: #FFD54F;
}